<html>
<head>
	<title>Search User</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<link href="../static/bs/css/bootstrap.css" rel="stylesheet">
	<style>
	.input-group > .input-group-btn > .btn, .input-group-btn:last-child > .dropdown-toggle {
  height: 34px;
}
	</style>
</head>

<body style="padding-top:62px">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		  <div class="row col-md-6">
			  <form role="form" class="form-inline" action="">


					  <div class="input-group">
						  <input type='search' id="keyword" class="form-control" placeholder="Search Key" />
						  <span class="input-group-btn">
							  <button type="button" class='btn btn-default' id="btn_search">Search</button>
						  </span>
					  </div>


			  </form>
	  	</div>
	  </div>
</nav>


<div class='container'>



<div><a href="#" id="mondalopener">Add Customer 添加新顾客</a></div>
<div>
	<table id="sch_table" class="hidden table table-striped">
	    <tr>
	        <th>Name</th>
			<th>ID</th>
	        <th>Mobile</th>
			<th>Address</th>
	    </tr>
	</table>
</div>

<div>
	<div id="genericModal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header" >

  						  <button class="close" data-dismiss="modal" >&times;</button>
						  <h4 class="modal-title" style="height:15px"></h4>
				</div>


				<div class="modal-body">
	            <p></p>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-default" data-dismiss="modal">
	                    Close</button>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>
</div>

</div>

<script src="../static/jquery-2.2.4.min.js"></script>
<script src="../static/bs/js/bootstrap.js"></script>
<script>
$(document).ready(function(){
	//preload form html pages
	$(".modal-body").load("../static/html/transition.html");
	//$(".modal-body").load("../static/html/postage_info.html");


	//preload js
	//$.getScript("../static/js/edit_customer.js");

	//processModal();


	processSchData();



	$("#btn_search").on("click",processSchData);



	$(document).keypress(function(e) {
	    if(e.which == 13) {
	        processSchData();
			e.preventDefault();
	    }

	});


	//clear input content
	$('.modal').on('hidden.bs.modal', function(){
    	$(this).find("form").find("input, textarea").val("");
		$(".modal-body").load("../static/html/transition.html");
	});

	//start customer link
	$("#sch_table").on("click",".popover_link_1", {id:"#genericModal", title:"Edit Customer"} , function(event){

		$(".modal-body").load("../static/html/customer_form.html");
		$.getScript("../static/js/edit_customer.js");

		$.ajax({type:"POST",
		url: "../agent/cust.info.agent.php",
		data: "cid="+ $(this).attr("data-cid"),
		success: function(data){

			//var cname = data[0].cname;
			$("#cname").val(data[0].cname);
			$("#cname_init_py").val(data[0].cname_init_py);
			$("#id_num").val(data[0].id_num);
			$("#mobile").val(data[0].mobile);
			$("#address").val(data[0].address);
			$("#postcode").val(data[0].postcode);
			$("#comment").val(data[0].comment);
			$("#cid").val(data[0].cid);

			openModal(event);
			$("#sch_table a").popover("hide");

		}

		});

	});//end customer link

	//start postage linke
	$("#sch_table").on("click",".popover_link_2", {id:"#genericModal", title:"Postage"} , function(event){
		$(".modal-body").load("../static/html/postage_info.html");
		openModal(event);
		$("#sch_table a").popover("hide");

	});
	//link postage links

	//tag link
	$("#sch_table").on("click",".popover_link_3", {id:"#genericModal", title:"Tags"} , function(event){


		var cid = $(this).attr("data-cid");

		$(".modal-body").load("../static/html/tags.html",function(){

			$("#cid").val(cid);

		});

		$.getScript("../static/js/add_tag.js");

		$.ajax({type:"POST",
		url: "../agent/tag.list.agent.php",
		data: "cid="+ $(this).attr("data-cid"),
		success: function(data){



			var len = data.result.length;

			console.log(data.response_code);


			if (data.response_code == 200)
			{
				for (var n =1; n< len; n++)
				{
					$("#tag_list").append("<span class=\"badge\" style=\"font-size:14px;padding-bottom:10px\">" + data.result[n].tag_text +"</span> ");
				}
			}


			//alert ("lll");


		}
		});

		openModal(event);



		$("#sch_table a").popover("hide");

	});
	//link tag links

	//add handler
	$("#mondalopener").on("click",{id: "#genericModal", title: "Add Customer"}, function(event){
		$(".modal-body").load("../static/html/customer_form.html");
		$.getScript("../static/js/edit_customer.js");
		openModal(event);
	});


});

function processSchData()
{

			//alert("clicked");
			keyword = $("#keyword").val();
			//alert(keyword);

			$.ajax({type:"POST",
			url: "../agent/cust.list.agent.php",
			data: "keyword="+ keyword,
			success: function(data){
				//alert(data);
				console.log(data);
				var len = data.result.length;

				var txt = "";
				$("#sch_table tr.data_row").remove();

				console.log (data.response_code);
				//console.log (len);
				//console.log(typeof(data.result));

				if (typeof(data.result) == "object")
				{
					for (var i=0; i<len; i++)
					{
						txt += "<tr class='data_row'><td><a href='#' class = 'list_link' data-toggle='modal' class='xx1' data-cid ='" + data.result[i].cid + "'>"+data.result[i].cname + "</a></td><td>" + data.result[i].id_num + "</td><td>" + data.result[i].mobile + "</td><td>" + data.result[i].address + " " + data.result[i].postcode + "</td></tr>";
					}

					if (len == 0)
					{
						txt = "<tr class = 'data_row' style='text-align:center'><td colspan=4>No Result for <b> \"" + keyword + "\"!</td></tr>";
					}

				}
				else {
					if (data.response_code == 401)
						txt  = "<tr class = 'data_row' style='text-align:center'><td colspan=4><a href='login.php'>Please Login</a>!</td></tr>";

					if (data.response_code == 400)
						txt  = "<tr class = 'data_row' style='text-align:center'><td colspan=4>Illegal Request!</td></tr>";

					$("#mondalopener").hide();

				}

				if (txt != "")
				{
					$("#sch_table").append(txt).removeClass("hidden");

					$("#sch_table .list_link").popover({html:true, content:function(){
						return "<a class='popover_link_1' href='javascript:void(0)' data-cid='" + $(this).attr("data-cid") + "'>Customer Info</a> <br/> <a class='popover_link_2' href='javascript:void(0)' data-cid='" + $(this).attr("data-cid") + "'>Postage Record</a> <br/> <a class='popover_link_3' href='javascript:void(0)' data-cid='" + $(this).attr("data-cid") + "'>Tags</a>";

					}});
				}


				}});

}



function processModal()
{
	$("#mondalopener").on("click",{id: "#genericModal", title: "Add Customer"}, openModal);
}

function openModal(event)
{
	//alert ("open");
	//alert (event.data.cid);
	$(event.data.id).find(".modal-body").css("overflow-y","auto");

	$(event.data.id).find('.modal-title').text(event.data.title);
	$(event.data.id).modal('show');

	event.preventDefault();
}
</script>
</body>
</html>
